* {
    box-sizing: border-box;
}

.homeContainer {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeContainer>h1 {
    color: chocolate;
    font-size: 1.6em;
}

.homeContainer .link {
    color: blue;
}